.slideout {
    visibility: hidden;
}

.slide {
    visibility: visible;
}

.txhidden{
    visibility: hidden;
}

.txvisible {
    visibility: visible;
}

.animate__animated.animate__fadeIn {
    --animate-duration: 0.3s;
}

.animate__animated.animate__fadeInUp {
    --animate-duration: 0.5s;
}

.animate__animated.animate__fadeOut {
    --animate-duration: 0.3s;
}

.animate__animated.animate__fadeOutDown {
    --animate-duration: 0.5s;
}
