#leadpage{
    height:150vh;
    background-attachment: fixed;
    background-image: url(../assets/banner0.png);
    background-repeat: no-repeat;
    background-size: calc(150vh*1.5) 150vh;
    background-position: 20% 0%;
}

#navi{
    width:30px;
    top:8.5vh;
    height:80vh;
    position: fixed;
    
}

.nav_button{
    position: absolute;
    left:0px;
    background-color:#463F3A;
    height:33%;
    width:30px;
    color: #8A817C;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding:45px 2px 45px 2px;
}

.nav_button:hover{
    position: absolute;
    left:0px;
    background-color:#E0AFA0;
    height:150px;
    width:30px;
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding:45px 2px 45px 2px;
    text-decoration: none;
}

#textadv{
    height:700vh;
    background-color: gray;
    position: relative;
}


#analytics{
    background-image: url(../assets/Figure3.png);
    background-position:55%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 200vh;
    position: relative;
}

#solution{
    background-image: url(../assets/Figure1.png);
    background-position:60%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 200vh;
    position: relative;
}



#footer{
    background-color: black;
    height:10vh;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}

