@font-face {
    font-family: "genyo";
    src: url("NotoSansMonoCJKtc-Bold.otf");
}

.textbg {
    position: fixed;
    height: 100vh;
    top: 0px;
}

.textblock {
    background-color: white;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    position: fixed;
    width: 70vw;
    padding: 5vh 5vw;
    bottom: 5vh;
    left: 15vw;
    font-family: "genyo";
    border-radius: 5px;
}

/* .card {
    height: 100px;
    background-color: white;
    opacity: 0.8;
    z-index: 9;
    top: 10vh;
    font-family: "genyo";
    font-size: 2rem;
    padding: 12%;
} */

.analy_text{
    position: absolute;
    color: white;
    font-family:'genyo';
    font-size: 1.2rem;
    width: 100vw;
    padding: 0 25vw;
}


h1{
    font-family: "genyo";
    position: absolute;
    top:20vh;
    left:30vw;
    color: white;
}

h3 {
    color: #69736d;
    font-family: "genyo";
    font-size: 1.5rem;
    margin-block-start: 2em;
  }

.htx{
    color: gold;
    font-weight: bold;
}

.quote {
    font-family: "KaiTi",serif;
    font-size: 1.2rem;
    margin:5vh 0;
    padding: 5%;
    background-color: rgba(200,200,200,0.5);
    border-radius: 15px;
  }

  p {
    font-family: "Microsoft JhengHei";
    font-size: 1.1rem;
    line-height: 1.8;
    margin-block-start: 1em;
    margin-block-end: 1em;
    /*
      width: 100vw;
      padding: 0 15vw;*/
  }
  p a {
    color:#69736d;
  }

  ul {
    margin: 0 auto;
    width: 60vw;
    display: block;
  }
  ul li {
    text-align: center;
    display:inline-block;
    /*float: center;*/
    line-height: 31px;
    overflow: hidden;
    position: relative;
    margin-bottom: -1px;
    border-left: none;
    background: #e1e1e1;
    border: 1px solid #bebebe;
    margin-left: 2vw;
  }
  ul li a {
    display: block;
    padding: 8vh 3vw;
    color: #69736d;
    font-family: "genyo";
    font-size: 1.5rem;
    text-decoration: none;
  }
  ul li a:hover {
    background: #ccc;
    color: #68746d;
    text-decoration: none;
  }
  ul li.active {
    background: #fff;
  }
  ul li.active a:hover {
    background: #fff;
    text-decoration: none;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .caption {
    text-align:center;
    margin-block-start: 0.5em;
  }

  .button{
    position: fixed;
    border-radius: 15px;
    font-family: "genyo";
    font-size: 1.5rem;
    width:70vw;
    height:15vh;
    border:hidden;
    opacity: 1;
    background-color: wheat;
    margin: 0vh 15vw;
  }
  
  .button:hover{
    background-color: #05415f;
    color: white;

  }

  .button_on{
    background-color: #023047;
    color: white;
  }