@font-face {
    font-family: "genyo";
    src: url("NotoSansMonoCJKtc-Bold.otf");
}

.textbg {
    position: fixed;
    height: 100vh;
    top: 0px;
}

.textblock {
    background-color: white;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    position: fixed;
    width: 70vw;
    padding: 5vh 5vw;
    bottom: 5vh;
    left: 15vw;
    font-family: "genyo";
}

.card {
    height: 100px;
    background-color: white;
    opacity: 0.8;
    z-index: 9;
    top: 10vh;
    font-family: "genyo";
    font-size: 2rem;
    padding: 12%;
}

.analy_text{
    position: absolute;
    color: white;
    font-family:'genyo';
    font-size: 1.2rem;
    width: 100vw;
    padding: 0 25vw;
}


h1{
    font-family: "genyo";
    position: absolute;
    top:20vh;
    left:30vw;
    color: white;
}

.htx{
    color: gold;
    font-weight: bold;
}
